table.tableMutants {
  border: 2px solid #8B8B8B;
  background-color: #FFFFFF;
  text-align: center;
  border-collapse: collapse;
}
table.tableMutants td, table.tableMutants th {
  border: 1px solid #D3D3D3;
  padding: 4px 4px;
}

table.tableMutants tbody {
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}



table.tableMutants tbody td {
    
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  
}


.redcell {
  background: #FFBBBB;
}
.greencell {
  background: #80BB7F;
}

.anchorred {
    color: red
}

table.tableMutants thead {
  }
table.tableMutants thead th {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-left: 1px solid #0061F2;
  
  writing-mode: vertical-lr;
  
 
}
table.tableMutants thead th:first-child {
  border-left: none;
}

table.tableMutants tfoot .links {
  text-align: right;
}
table.tableMutants tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #BA8697;
  padding: 2px 8px;
  border-radius: 5px;
}

.fontbig{
    text-align: left;
    font-size: 16px !important; 
    font-weight: normal !important;
}

.tree{
  --spacing : 1.5rem;
  --radius  : 10px;
  width: 1000%;
}

.tree li{
  display      : block;
  position     : relative;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
  text-align: left;
}

.tree ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
  text-align: left;
}

.tree ul li{
  border-left : 2px solid #ddd;
  text-align: left;
}

.tree ul li:last-child{
  border-color : transparent;
}

.tree ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid #ddd;
  border-width : 0 0 2px 2px;
}

.tree summary{
  display : block;
  cursor  : pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker{
  display : none;
}

.tree summary:focus{
  outline : none;
}

.tree summary:focus-visible{
  outline : 1px dotted #000;
}

.tree li::after,
.tree summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) / 2 - var(--radius));
  left          : calc(var(--spacing) - var(--radius) - 1px);
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 50%;
  background    : #ddd;
}

.tree summary::before{
  z-index    : 1;
  background : #696 url('img/expand-collapse.svg') 0 0;
}

.tree details[open] > summary::before{
  background-position : calc(-2 * var(--radius)) 0;
}

.hbond::after{
    background    : #3c86c3 !important;
}

.vdw::after{
    background    : #9f1e36 !important;
}
